*:not(select) {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-image: url(coffee-notepad.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: black;
}

body {
    background-image: url(coffee-notepad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h2 {
    font-family: 'Lobster', 'cursive';
}

ul {
    padding: 0;
    list-style-type: none;
    width: 100%
}

ul li {
    cursor: pointer;
    position: inherit;
    padding: 12px 8px 12px 40px;
    background: #ffffe6;
    font-size: 18px;
    transition: 50ms;
    border-bottom: 1px solid;
    border-color: #b5aca0;

    /* Makes list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:hover {
    background: #e8e7ce;
}

ul li.checked {
    text-decoration: line-through;
    background: slategrey !important;
}

.close {
    position: relative;
    color: #e60000;
    left: 0.25em;
    bottom: 0.45em;
    padding: 12px 16px 12px 16px;
    text-shadow: 0 0 2px #ffffe6; 
}

.close:hover {
    background-color: rgb(245, 48, 48);
    color: #b90000;
}

.header {
    text-align: center;
    color: white;
    padding: 30px 0px;
    background-color: /*#423e3a;*/ #6b665f; /* Commented out alternate color */
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    font-size: 1em;
    padding: 10px;
}

.addBtn {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    width: 100%;
    background: lightgrey;
    color: #555;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0;
    transition: 0.2s;
    float: left;
}

.addBtn:hover {
    background-color: darkgrey;
}

.select-default {
	background: rgb(165, 245, 119);
}

.select-orange {
    background: rgb(250, 173, 100);
}

.select-red {
	background: rgb(247, 76, 76);
}

.custom-select {
    display: flex;
    color: black;
    border: 1px solid #ccc;
    padding: 0px 0px;
    font-size: 16px;
    overflow: hidden;
    width: 100%;
    height: 2.75em;
    background: white url('icons8-expand-arrow-52.png') no-repeat 90% 50%;
    background-size: 1em;
    border-radius: 0px;
}

.custom-select select {
    background-color: white;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.input-field {
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* For future sortable feature */
/*.sortable{
    list-style-type: none;
    overflow: auto;
}*/

/* For future sortable feature */
/*.placeholder {
    border: 1px dotted black; 
    height: 2.8em;
    background-color: #6b665f;
    visibility: visible !important;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}*/

/* Test class for layout pruposes */
.test-border {
    border-style: solid;
    border-width: medium;
    border-color: black;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
